* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
    display: flex;
}

#info {
    padding-left: 10px;
    padding-top: 10px;
}

#rightSide {
    margin: 10px;
}

#info {
    min-height: 500px;
}

#help li {
    text-decoration: underline;
    cursor: pointer;
}

#stepExplanations > div {
    display: none;
}

.generatedMove {
    color: red;
}